@using OrchardCore.ContentManagement
@using Ozds.Modules.Ozds
@using Ozds.Util

@{
  ContentItem contentItem = Model.ContentItem;
  SecondarySiteType site = contentItem
    .AsContent<SecondarySiteType>()
    .ThrowWhenNull();
}

<h2>
  <span>
    @(T["Site"])
    @site.Title.Value.Title
  </span>
</h2>

<div>
  <span>
    @(T["MeasurementFrequency"])
    @site.Site.Value.MeasurementFrequency.Value
  </span>

  <span>
    @(T["Status"])
    @(await Orchard
      .GetTaxonomyTermAsync<TagType>(site.Site.Value.Status)
      .ThenWhenNonNullable(tag => tag.Title.Value.Title))
  </span>
</div>
