@using OrchardCore.ContentManagement
@using Ozds.Modules.Ozds
@using Ozds.Util

@{
  ContentItem contentItem = Model.ContentItem;
  CatalogueType catalogue = contentItem
  .AsContent<CatalogueType>()
  .ThrowWhenNull();

  List<CatalogueItemType> items = catalogue.Items.Value.ContentItems
  .SelectFilter(item => item.AsContent<CatalogueItemType>())
  .ToList();
}

<h4>
  @catalogue.Title.Value.Title
</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">@T["Tariff Element"]</th>
      <th scope="col" class="text-center">@T["Price"]</th>
    </tr>
  </thead>
  <tbody>
    @foreach (CatalogueItemType item in items)
    {
      <tr>
        <th scope="row">
          @item.Title.Value.Title
        </th>
        <th class="text-end">
          @item.CatalogueItem.Value.Price.Value
        </th>
      </tr>
    }
  </tbody>
</table>