@using Microsoft.AspNetCore.Identity
@using OrchardCore.Entities
@using OrchardCore.Settings
@using OrchardCore.Users
@using OrchardCore.Users.Models
@using Ozds.Extensions

@inject ISiteService SiteService
@inject SignInManager<IUser> SignInManager

@{
  var allowChangeEmail = await SiteService
    .GetSiteSettingsAsync()
    .Then(siteSettings => siteSettings
      .As<ChangeEmailSettings>()
      .AllowChangeEmail);

  var externalAuthenticationSchemes = await SignInManager
    .GetExternalAuthenticationSchemesAsync();
}

<ul class="navbar-nav">
  @if (User?.Identity?.IsAuthenticated ?? false)
  {
    @if (User.HasClaim("Permission", "AccessAdminPanel"))
    {
      <li class="nav-item dropdown">
        <a
            class="dropdown-item nav-link"
            asp-route-area="OrchardCore.Admin"
            asp-controller="Admin"
            asp-action="Index">
          <i class="fa fa-desktop fa-fw" aria-hidden="true"></i>
          @T["Admin"]
        </a>
      </li>
    }
    @if (allowChangeEmail)
    {
      <li class="nav-item dropdown">
        <a
            class="dropdown-item nav-link"
            asp-route-area="OrchardCore.Users"
            asp-controller="ChangeEmail"
            asp-action="Index">
          <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
          @T["Change Email"]
        </a>
      </li>
    }
    <li class="nav-item dropdown">
      <a
          class="dropdown-item nav-link"
          asp-route-area="OrchardCore.Users"
          asp-controller="Account"
          asp-action="ChangePassword"
          asp-route-returnUrl="@FullRequestPath">
        <i class="fa fa-lock fa-fw" aria-hidden="true"></i>
        @T["Change Password"]
      </a>
    </li>
    @if (externalAuthenticationSchemes.Count() > 0)
    {
      <li class="nav-item dropdown">
        <a
            class="dropdown-item nav-link"
            asp-route-area="OrchardCore.Users"
            asp-controller="Account"
            asp-action="ExternalLogins">
          <i class="fa fa-user-lock fa-fw" aria-hidden="true"></i>
          @T["External Logins"]
        </a>
      </li>
    }
    <li class="nav-item dropdown">
      <form
          asp-route-area="OrchardCore.Users"
          asp-controller="Account"
          asp-action="LogOff"
          method="post">
        <button
            type="submit"
            class="dropdown-item nav-link">
          <i class="fa fa-sign-out-alt fa-fw" aria-hidden="true"></i>
          @T["Log Out"]
        </button>
      </form>
    </li>
  }
  else
  {
    <li class="nav-item">
      <a
          class="nav-link"
          asp-route-area="OrchardCore.Users"
          asp-controller="Account"
          asp-action="Login">
        <i class="fa fa-sign-in-alt fa-fw" aria-hidden="true"></i>
          @T["Log In"]
      </a>
    </li>
  }
</ul>
