@page "{contentItemId?}"

@using Microsoft.AspNetCore.Authorization
@using Ozds.Modules.Ozds

@attribute [Authorize]

@{
  var contentItemId = Request.RouteValues.GetNullable("contentItemId");
  var headerText = T["Receipts"].Value;
}

@if (contentItemId is null)
{
  <partial name="Header" model="@headerText" />

  // TODO: receipts

  return;
}

@{
  var contentItem = await Orchard.GetContentItemByIdAsync(contentItemId);
}

@if (contentItem is null)
{
  headerText = T["Error"].Value;

  <partial name="Header" model="@headerText" />
  <div>
    <h3>
      <p>
        @T["Wrong identifier"]
      </p>
    </h3>
  </div>

  return;
}

@{
  var receipt = contentItem.AsContent<ReceiptType>();
}

@if (receipt is null)
{
  headerText = T["Error"].Value;

  <partial name="Header" model="@headerText" />
  <div>
    <h3>
      <p>
        @T["Wrong identifier for receipt"]
      </p>
    </h3>
  </div>

  return;
}

@{
  headerText = string
    .Format(
      T["Receipt for {0} at {1}"].Value,
      receipt.Receipt.Value.Data.Consumer.Name,
      receipt.Receipt.Value.Date.Value?.ToShortDateString());
}

<partial name="Header" model="@headerText" />
@await Orchard.DisplayAsync(contentItem)
<a
    asp-area="Ozds.Modules.Ozds"
    asp-page="Print"
    aps-route-contentItemId="@contentItemId">
  @T["Print"]
</a>