@using OrchardCore.ContentManagement
@using Ozds.Modules.Members
@using Ozds.Util

@{
  ContentItem contentItem = Model.ContentItem;
  var consumer = contentItem
    .AsContent<ConsumerType>()
    .ThrowWhenNull();
}

<h4>
  <span>
    @(T["Consumer"])
    @consumer.Title.Value.Title
  </span>
</h4>

<div>
  <h3>
    @T["Person"]
    @consumer.Person.Value.Name.Text
    @consumer.Person.Value.Oib.Text
  </h3>

  <span>
    @T["Location"]
    @consumer.Person.Value.Address.Text
    @consumer.Person.Value.City.Text
    @consumer.Person.Value.PostalCode.Text
  </span>

  <span>
    @T["Contact"]
    @consumer.Person.Value.Contact.Text
  </span>
</div>

<div>
  <h3>
    @T["Secondary sites"]
  </h3>
  <ul>
    @foreach (var siteContentItemId in
      consumer.Consumer.Value.SecondarySites.ContentItemIds)
    {
      <li>
        @(await Orchard.DisplayAsync(
            await Orchard.GetContentItemByIdAsync(siteContentItemId),
            "Brief"))
      </li>
    }
  </ul>
</div>