@using OrchardCore.Contents
@using OrchardCore.ContentManagement
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService
@inject IContentManager ContentManager

@{
	ContentItem contentItem = Model.ContentItem;
  string contentType = contentItem.ContentType;

	var hasPublished =  await ContentManager
    .HasPublishedVersionAsync(
      contentItem);

	var hasDraft = contentItem.HasDraft();

	var hasEditPermission = await AuthorizationService
    .AuthorizeAsync(
      User,
      CommonPermissions.EditContent,
      contentItem);

	var hasViewPermission = await AuthorizationService
    .AuthorizeAsync(
      User,
      CommonPermissions.ViewContent,
      contentItem);

	var hasPreviewPermission = await AuthorizationService
    .AuthorizeAsync(
      User,
      CommonPermissions.PreviewContent,
      contentItem);
}

@if (hasEditPermission)
{
	<a
      asp-route-area="OrchardCore.Contents"
      asp-controller="Admin"
      asp-action="Edit"
      asp-route-contentItemId="@contentItem.ContentItemId"
      asp-route-returnUrl="@FullRequestPath"
      class="btn btn-sm btn-primary edit">
    <span>
      @T["Edit"]
    </span>
  </a>
}

@if (contentType == "SecondarySite")
{
	<a
      asp-route-area="OrchardCore.Contents"
      asp-controller="Admin"
      asp-action="Create"
      asp-route-id="Receipt"
      asp-route-siteContentItemId="@contentItem.ContentItemId"
      asp-route-returnUrl="@FullRequestPath"
      target="_self"
      class="btn btn-sm btn-primary view">
    <span>
      @T["Create Receipt"]
    </span>
  </a>
}

@if (hasPublished && hasViewPermission)
{
  <a
      asp-route-area="OrchardCore.Contents"
      asp-controller="Admin"
      asp-action="Display"
      asp-route-contentItemId="@contentItem.ContentItemId"
      asp-route-returnUrl="@FullRequestPath"
      target="_self"
      class="btn btn-sm btn-success view">
    <span>
      @T["Display"]
    </span>
  </a>

  <!-- TODO: download controller or route to Azure function -->
  <a
      asp-route-area="OrchardCore.Contents"
      asp-controller="Admin"
      asp-action="Display"
      asp-route-contentItemId="@contentItem.ContentItemId"
      asp-route-returnUrl="@FullRequestPath"
      target="_blank"
      class="btn btn-sm btn-success view">
    <span>
      @T["Download"]
    </span>
  </a>
}

@if (hasDraft && hasPreviewPermission)
{
	<a
      asp-route-area="OrchardCore.Contents"
      asp-controller="Item"
      asp-action="Preview"
      asp-route-contentItemId="@contentItem.ContentItemId"
      asp-route-returnUrl="@FullRequestPath"
      target="_self"
      class="btn btn-sm btn-secondary preview">
    <span>
      @T["Preview Draft"]
    </span>
  </a>
}
