@using Ozds.Modules.Ozds
@using Ozds.Extensions

@model CatalogueType

@{
  List<CatalogueItemType> items = Model.Items.Value.ContentItems
      .SelectFilter(item => item.AsContent<CatalogueItemType>())
      .ToList();
}

<h5>
  @Model.Title.Value.Title
</h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">@T["Tariff Element"]</th>
      <th scope="col" class="text-center">@T["Price"]</th>
    </tr>
  </thead>
  <tbody>
    @foreach (CatalogueItemType item in items)
    {
      <tr>
        <th scope="row">
          @item.Title.Value.Title
        </th>
        <th class="text-end">
          @item.CatalogueItem.Value.Price.Value
        </th>
      </tr>
    }
  </tbody>
</table>