@using Ozds.Elasticsearch
@using Ozds.Extensions
@using Ozds.Modules.Ozds

@model InitialQuery<IEnumerable<DashboardMeasurement>>

@if (Model.Result.EmptyEnumerable())
{
  <span>
    @(T["No measurements available"].Value)
  </span>
  return;
}

<div class="d-flex flex-column">
  <h5>
    @T["Cumulative"]
  </h5>
  <div class="d-flex flex-column flex-lg-row w-100">
    <div class="d-flex flex-column align-items-center h-100">
      <div
          class="
            d-block justify-content-center
            position-relative flex-shrink-1">
        <canvas id="cumulative-doughnut" />
      </div>
      <div style="margin-top: -50px;">
        <div>
          <strong style="color: Red;">
            @T["Power"] (kW) :
          </strong>
          <span>
            @decimal.Round(Model.Result.Last().Data.Power, 2)
          </span>
          <span>
            / @Dashboard.MaxPower
          </span>
        </div>
        <div>
          <strong style="color: Blue;">
            @T["Energy"] (kWh) :
          </strong>
          <span>
            @decimal.Round(Model.Result.Last().Data.Energy, 2)
          </span>
        </div>
      </div>
    </div>
    <div
        class="
          d-block justify-content-center
          position-relative flex-grow-1">
      <canvas id="cumulative-lines" />
    </div>
  </div>
</div>

<div class="d-flex flex-column mt-5">
  <h5>
    @T["Power phases"]
  </h5>
  <div class="d-flex flex-column flex-lg-row w-100">
    <div class="d-flex flex-column align-items-center h-100">
      <div
          class="
            d-block justify-content-center
            position-relative flex-shrink-1">
        <canvas id="power-doughnut" />
      </div>
      <div style="margin-top: -50px;">
        <div>
          <strong style="color: Green;">
            @T["PowerL1"] (kW) :
          </strong>
          <span>
            @decimal.Round(Model.Result.Last().Data.PowerL1, 2)
          </span>
          <span>
            / @Dashboard.MaxPower
          </span>
        </div>
        <div>
          <strong style="color: Orange;">
            @T["PowerL2"] (kW) :
          </strong>
          <span>
            @decimal.Round(Model.Result.Last().Data.PowerL2, 2)
          </span>
          <span>
            / @Dashboard.MaxPower
          </span>
        </div>
        <div>
          <strong style="color: Cyan;">
            @T["PowerL3"] (kW) :
          </strong>
          <span>
            @decimal.Round(Model.Result.Last().Data.PowerL3, 2)
          </span>
          <span>
            / @Dashboard.MaxPower
          </span>
        </div>
      </div>
    </div>
    <div
        class="
          d-block justify-content-center
          position-relative flex-grow-1">
      <canvas id="power-lines" />
    </div>
  </div>
</div>

<div class="d-flex flex-column mt-5">
  <h5>
    @T["Current phases"]
  </h5>
  <div class="d-flex flex-column flex-lg-row w-100">
    <div class="d-flex flex-column align-items-center h-100">
      <div
          class="
            d-block justify-content-center
            position-relative flex-shrink-1">
        <canvas id="current-doughnut" />
      </div>
      <div style="margin-top: -50px;">
        <div>
          <strong style="color: Green;">
            @T["CurrentL1"] (A) :
          </strong>
          <span>
            @decimal.Round(Model.Result.Last().Data.CurrentL1, 2)
          </span>
          <span>
            / @Dashboard.MaxCurrent
          </span>
        </div>
        <div>
          <strong style="color: Orange;">
            @T["CurrentL2"] (A) :
          </strong>
          <span>
            @decimal.Round(Model.Result.Last().Data.CurrentL2, 2)
          </span>
          <span>
            / @Dashboard.MaxCurrent
          </span>
        </div>
        <div>
          <strong style="color: Cyan;">
            @T["CurrentL3"] (A) :
          </strong>
          <span>
            @decimal.Round(Model.Result.Last().Data.CurrentL3, 2)
          </span>
          <span>
            / @Dashboard.MaxCurrent
          </span>
        </div>
      </div>
    </div>
    <div
        class="
          d-block justify-content-center
          position-relative flex-grow-1">
      <canvas id="current-lines" />
    </div>
  </div>
</div>

<div class="d-flex flex-column mt-5" style="height: 400px;">
  <h5>
    @T["Voltage phases"]
  </h5>
  <div
      class="
        d-block justify-content-center
        position-relative flex-grow-1">
    <canvas id="voltage-lines" />
  </div>
</div>

<script at="Foot">
  // TODO: doughnut data strategy
  const createCharts = (measurements, doughnuts, max, culture) =>
    ({
      measurements,
      doughnuts,
      cumulativeLines: new Chart(
        "cumulative-lines",
        {
          type: "line",
          data: {
            datasets: [
              {
                label: '@T["Energy"].Value (kWh)',
                data: measurements,
                parsing: {
                  xAxisKey: "timestamp",
                  yAxisKey: "data.energy"
                },
                yAxisID: "energy",
                borderColor: "Blue",
                backgroundColor: "Blue",
              },
              {
                label: '@T["Power"].Value (kW)',
                data: measurements,
                parsing: {
                  xAxisKey: "timestamp",
                  yAxisKey: "data.power"
                },
                yAxisID: "power",
                borderColor: "Red",
                backgroundColor: "Red",
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
            plugins: {
              legend: false
            },
            scales: {
              x: {
                type: 'time',
                adapters: {
                  date: {
                    locale: culture,
                  },
                },
              },
              power: {
                type: 'linear',
                display: true,
                position: 'left',
              },
              energy: {
                type: 'linear',
                display: true,
                position: 'right',
                grid: {
                  drawOnChartArea: false,
                },
              },
            },
          },
        }),

      cumulativeDoughnut: new Chart(
        "cumulative-doughnut",
        {
          type: "doughnut",
          data: {
            labels: [ '@T["Power"].Value (kW)' ],
            datasets: [
              {
                label: [ '@T["Current Power"].Value (kW)', '' ],
                data: doughnuts,
                parsing: {
                  key: 'power'
                },
                backgroundColor: ["Red", "#DDDDDD"]
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
            rotation: 270,
            circumference: 180,
            plugins: {
              legend: false
            },
          },
        }),

      powerLines: new Chart(
        "power-lines",
        {
          type: "line",
          data: {
            datasets: [
              {
                label: '@T["PowerL1"].Value (kW)',
                data: measurements,
                parsing: {
                  xAxisKey: "timestamp",
                  yAxisKey: "data.powerL1"
                },
                yAxisID: "power",
                borderColor: "Green",
                backgroundColor: "Green",
              },
              {
                label: '@T["PowerL2"].Value (kW)',
                data: measurements,
                parsing: {
                  xAxisKey: "timestamp",
                  yAxisKey: "data.powerL2"
                },
                yAxisID: "power",
                borderColor: "Orange",
                backgroundColor: "Orange",
              },
              {
                label: '@T["PowerL3"].Value (kW)',
                data: measurements,
                parsing: {
                  xAxisKey: "timestamp",
                  yAxisKey: "data.powerL3"
                },
                yAxisID: "power",
                borderColor: "Cyan",
                backgroundColor: "Cyan",
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
            plugins: {
              legend: false
            },
            scales: {
              x: {
                type: 'time',
                adapters: {
                  date: {
                    locale: culture,
                  },
                },
              },
            },
          },
        }),

      powerDoughnut: new Chart(
        "power-doughnut",
        {
          type: "doughnut",
          data: {
            datasets: [
              {
                label: [ '@T["PowerL1"].Value (kW)', '' ],
                data: doughnuts,
                parsing: {
                  key: 'powerL1'
                },
                backgroundColor: ["Green", "#DDDDDD"]
              },
              {
                label: [ '@T["PowerL2"].Value (kW)', '' ],
                data: doughnuts,
                parsing: {
                  key: 'powerL2'
                },
                backgroundColor: ["Orange", "#DDDDDD"]
              },
              {
                label: [ '@T["PowerL3"].Value (kW)', '' ],
                data: doughnuts,
                parsing: {
                  key: 'powerL3'
                },
                backgroundColor: ["Cyan", "#DDDDDD"]
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
            rotation: 270,
            circumference: 180,
            plugins: {
              legend: false
            },
          },
        }),

      currentLines: new Chart(
        "current-lines",
        {
          type: "line",
          data: {
            datasets: [
              {
                label: '@T["CurrentL1"].Value (kW)',
                data: measurements,
                parsing: {
                  xAxisKey: "timestamp",
                  yAxisKey: "data.currentL1"
                },
                yAxisID: "current",
                borderColor: "Green",
                backgroundColor: "Green",
              },
              {
                label: '@T["CurrentL2"].Value (kW)',
                data: measurements,
                parsing: {
                  xAxisKey: "timestamp",
                  yAxisKey: "data.currentL2"
                },
                yAxisID: "current",
                borderColor: "Orange",
                backgroundColor: "Orange",
                yAxisID: "current",
              },
              {
                label: '@T["CurrentL3"].Value (kW)',
                data: measurements,
                parsing: {
                  xAxisKey: "timestamp",
                  yAxisKey: "data.currentL3"
                },
                yAxisID: "current",
                borderColor: "Cyan",
                backgroundColor: "Cyan",
                yAxisID: "current",
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
            plugins: {
              legend: false
            },
            scales: {
              x: {
                type: 'time',
                adapters: {
                  date: {
                    locale: culture,
                  },
                },
              },
            },
          },
        }),

      currentDoughnut: new Chart(
        "current-doughnut",
        {
          type: "doughnut",
          data: {
            datasets: [
              {
                label: [ '@T["CurrentL1"].Value (kW)', '' ],
                data: doughnuts,
                parsing: {
                  key: 'currentL1'
                },
                backgroundColor: ["Green", "#DDDDDD"]
              },
              {
                label: [ '@T["CurrentL2"].Value (kW)', '' ],
                data: doughnuts,
                parsing: {
                  key: 'currentL2'
                },
                backgroundColor: ["Orange", "#DDDDDD"]
              },
              {
                label: [ '@T["CurrentL3"].Value (kW)', '' ],
                data: doughnuts,
                parsing: {
                  key: 'currentL3'
                },
                backgroundColor: ["Cyan", "#DDDDDD"]
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
            rotation: 270,
            circumference: 180,
            plugins: {
              legend: false
            },
          },
        }),

      voltageLines: new Chart(
        "voltage-lines",
        {
          type: "line",
          data: {
            datasets: [
              {
                label: '@T["VoltageL1"].Value (V)',
                data: measurements,
                parsing: {
                  xAxisKey: "timestamp",
                  yAxisKey: "data.voltageL1"
                },
                yAxisID: "voltage",
                borderColor: "Green",
                backgroundColor: "Green",
              },
              {
                label: '@T["VoltageL2"].Value (V)',
                data: measurements,
                parsing: {
                  xAxisKey: "timestamp",
                  yAxisKey: "data.voltageL2"
                },
                yAxisID: "voltage",
                borderColor: "Orange",
                backgroundColor: "Orange",
              },
              {
                label: '@T["VoltageL3"].Value (V)',
                data: measurements,
                parsing: {
                  xAxisKey: "timestamp",
                  yAxisKey: "data.voltageL3"
                },
                yAxisID: "voltage",
                borderColor: "Cyan",
                backgroundColor: "Cyan",
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
            plugins: {
              legend: true
            },
            scales: {
              x: {
                type: 'time',
                adapters: {
                  date: {
                    locale: culture,
                  },
                },
              },
            },
          },
        }),
    })

  const updateCharts = (measurements, doughnuts, max, culture, charts) => {
    charts.measurements.push(...measurements);
    charts.cumulativeLines.update();
    charts.powerLines.update();
    charts.currentLines.update();
    charts.voltageLines.update();

    Object
      .keys(charts.doughnuts)
      .forEach(key => charts.doughnuts[key] = doughnuts[key]);
    charts.cumulativeDoughnut.update();
    charts.powerDoughnut.update();
    charts.currentDoughnut.update();

    return charts;
  };

  const createDoughnut = (value, max) => [value, max - value];
  const createDoughnuts = (measurement, max, culture) =>
    ({
      energy: createDoughnut(measurement.data.energy, max.energy),
      power: createDoughnut(measurement.data.power, max.power),
      powerL1: createDoughnut(measurement.data.powerL1, max.power),
      powerL2: createDoughnut(measurement.data.powerL2, max.power),
      powerL3: createDoughnut(measurement.data.powerL3, max.power),
      currentL1: createDoughnut(measurement.data.currentL1, max.current),
      currentL2: createDoughnut(measurement.data.currentL2, max.current),
      currentL3: createDoughnut(measurement.data.currentL3, max.current),
      voltageL1: createDoughnut(measurement.data.voltageL1, max.voltage),
      voltageL2: createDoughnut(measurement.data.voltageL2, max.voltage),
      voltageL3: createDoughnut(measurement.data.voltageL3, max.voltage),
    });

  const getMeasurements = async (model, period) =>
    period ?
      await GraphQL
        .getDashboardMeasurements(
          model.variables.deviceId,
          period)
    : GraphQL
        .normalizeDashboardMeasurements(
          model.result);

  const updatePeriod = (model, period) =>
    period ?
      {
        from: period.to,
        to: luxon.DateTime.now()
      }
    : {
        from: GraphQL.deserializeDateTime(model.variables.period.to),
        to: luxon.DateTime.now()
      };

  const last = (array) => array[array.length - 1];
  const createOrUpdateCharts = (measurements, max, culture, charts) =>
    charts ?
      updateCharts(
        measurements,
        createDoughnuts(last(measurements), max, culture),
        max,
        culture,
        charts)
    : createCharts(
        measurements,
        createDoughnuts(last(measurements), max, culture),
        max,
        culture);

  const update = async ({model, max, culture, charts, period}) =>
    ({
      charts: createOrUpdateCharts(
        await getMeasurements(model, period),
        max,
        culture,
        charts),
      period: updatePeriod(model, period)
    });

  const intervalNow = (callback, timeout) => {
    callback();
    setInterval(callback, timeout);
  }

  window.onload = () => {
    const modelString = '@Html.Raw(Json.Serialize(Model))';
    const model = JSON.parse(modelString);

    const maxString = `{
      "power": @Dashboard.MaxPower,
      "current": @Dashboard.MaxCurrent,
      "voltage": @Dashboard.MaxVoltage
    }`;
    const max = JSON.parse(maxString);

    const culture = '@Html.Raw(Orchard.CultureName())';

    let period = null;
    let charts = null;
    intervalNow(async () => {
      const updated = await update({model, max, culture, charts, period});
      period = updated.period;
      charts = updated.charts;
    }, 10000);
  }
</script>
<script asp-name="ozdstheme-luxon" at="Head"></script>
<script asp-name="ozdstheme-chart" at="Head"></script>
<script asp-name="ozdstheme-graphql" at="Head"></script>