@using Ozds.Modules.Ozds

@model Person

<h4>
  <span>
    @Model.Name.Text
  </span>

  <span>
    @Model.Oib.Text
  </span>
</h4>

<div class="d-flex flex-row justify-content-between">
  <div class="d-flex flex-column">
    <h5>
      <span>
        @T["Location"]
      </span>
    </h5>
    <span>
      @Model.Address.Text
    </span>
    <span>
      @Model.City.Text
    </span>
    <span>
      @Model.PostalCode.Text
    </span>
  </div>

  <div class="d-flex flex-column text-end">
    <h5>
      <span>
        @T["Contact"]
      </span>
    </h5>
    <span>
      @Model.Contact.Text
    </span>
  </div>
</div>