@using Ozds.Modules.Ozds
@using Ozds.Extensions

@model Site

<div class="d-flex flex-column">
  <span>
    <strong>
      @(T["Phase"])
    </strong>
    <span>
      @(await Orchard
        .GetTaxonomyTermAsync<TagType>(Model.Phase)
        .ThenWhenNonNull(tag => tag.Title.Value.Title))
    </span>
  </span>

  <span>
    <strong>
      @(T["Measurement interval (s)"])
    </strong>
    <span>
      @Model.MeasurementIntervalInSeconds.Value
    </span>
  </span>

  <span>
    <strong>
      @(T["Status"])
    </strong>
    <span>
      @(await Orchard
        .GetTaxonomyTermAsync<TagType>(Model.Status)
        .ThenWhenNonNull(tag => tag.Title.Value.Title))
    </span>
  </span>
</div>